Source: telnet-sh
Section: misc
Priority: optional
Maintainer: Jordi Pujol Palomer <jordipujolp@gmail.com>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.8.0
Homepage: http://livenet.ddns.net/

Package: telnet-sh
Architecture: all
Provides: telnet-client
Depends: ${misc:Depends}, bash,
Description: Telnet client with built-in automatization.
